<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Fragmentos Header y Footer</title>
</head>
<body>

    <header th:fragment="header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img th:src="@{/images/logoTecNM.jpg}" alt="Logo" width="40" height="40" class="d-inline-block align-text-top rounded-circle me-2">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto text-center align-items-center">
                    
                    	 <li class="nav-item me-3 text-light" sec:authorize="isAuthenticated()">
					        <span class="badge bg-secondary">
					            <i class="bi bi-person-circle me-1"></i> <span sec:authentication="name">Usuario</span>
					        </span>
					    </li>
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/}">Inicio</a>
                        </li>
                        <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                            <a class="nav-link" th:href="@{/empleado/empleados}">Empleados</a>
                        </li>
                        <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                            <a class="nav-link" th:href="@{/departamento/departamentos}">Departamentos</a>
                        </li>
                        
                        <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                            <a class="nav-link" th:href="@{/contrato/contratos}">Contratos</a>
                        </li>
                            
                        <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                            <a class="nav-link" th:href="@{/proyectos/proyectos}">Proyectos</a>
                        </li>

                        <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                            <a class="nav-link" th:href="@{/actividad/listar}">Actividades</a>
                        </li>                          
				    
					    <li class="nav-item ms-lg-2" sec:authorize="isAuthenticated()">
					        <form th:action="@{/logout}" method="post" class="d-inline">
					            <button type="submit" class="btn btn-outline-danger btn-sm fw-bold">
					                <i class="bi bi-box-arrow-right"></i> Salir
					            </button>
					        </form>
					    </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    <footer class="bg-dark text-light py-4 mt-auto" th:fragment="footer">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-12">
                    <h5 class="text-uppercase mb-3">Sistema ITCH</h5>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>